@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;

  :visited {
    color: #555;
  }

  .disabled {
    opacity: 0.5;
  }

  .selected {
    color: rgb(223, 113, 91);
  }
}

.wrapper {
  width: 800px;
  margin: auto;
  max-width: 980px;

  .container {
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 236px;

    .center {
      height: 226px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hero-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      min-height: 236px;
      justify-items: center;

      a {
        color: #555;
      }
    }
  }
}

.pagination {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 0;

  li {
    margin: 0 10px;
  }
}
